@model Practical17.Models.Student

@{
    ViewData["Title"] = "Details";
}

@if(User.IsInRole("Admin"))
{
    <div class="container mt-5">
        <div class="row">
            <div class="col-12 col-sm-8 col-md-6 col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title text-center mb-3">Employee Details</h4>
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.StudentName)
                            </dt>
                            <dd class = "col-sm-10">
                                @Html.DisplayFor(model => model.StudentName)
                            </dd>
                            <dt class = "col-sm-2">
                                @Html.DisplayNameFor(model => model.Age)
                            </dt>
                            <dd class = "col-sm-10">
                                @Html.DisplayFor(model => model.Age)
                            </dd>
                            <dt class = "col-sm-2">
                                @Html.DisplayNameFor(model => model.Email)
                            </dt>
                            <dd class = "col-sm-10">
                                @Html.DisplayFor(model => model.Email)
                            </dd>
                        </dl>
                    </div>
                    <div class="card-footer text-muted d-flex justify-content-between bg-transparent border-top-0">
                        <div class="views">
                                <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-info">Edit</a>
                        </div>
                        <div class="stats">
                            <a asp-action="Index" class="btn btn-warning">Back to List</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="container mt-5">
        <div class="row">
            <div class="col-12 col-sm-8 col-md-6 col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title text-center mb-3">Employee Details</h4>
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.StudentName)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.StudentName)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Age)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Age)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Email)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Email)
                            </dd>
                        </dl>
                    </div>
                    <div class="card-footer text-muted d-flex justify-content-between bg-transparent border-top-0">
                        <div class="views">
                            
                        </div>
                        <div class="stats">
                            <a asp-action="Index" class="btn btn-warning">Back to List</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
}